# Build results
bin/
obj/
out/

# Visual Studio
.vs/
*.user
*.userosscache
*.suo
*.sln.docstates

# Rider
.idea/

# VS Code
.vscode/

# NuGet
*.nupkg
packages/

# Publish output
publish/

# OS files
.DS_Store
Thumbs.db

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
